<!DOCTYPE html>
<html>
   <head>
      <title>
         Predict the IMDb scores!!!
      </title>
   </head>
<body>
   <h1></h1>
   <p>Input the following information.</p>
   <form action="/submission" method="post">
      Movie Release Year: <br>
      <input type="text" name="title_year"><br>
      Director Facebook Likes: <br>
      <input type="text" name="director_facebook_likes"><br>
      Actor 1 Facebook Likes: <br>
      <input type="text" name="actor_1_facebook_likes"><br>
      Actor 2 Facebook Likes: <br>
      <input type="text" name="actor_2_facebook_likes"><br>
      Actor 3 Facebook Likes: <br>
      <input type="text" name="actor_3_facebook_likes"><br>
      Number of Faces on Movie Poster: <br>
      <input type="text" name="facenumber_in_poster"><br>
      Content Rating: <br>
      <select>
        <option value = "Unrated">Unrated</option>
        <option value = "G">G</option>
        <option value = "PG">PG</option>
        <option value = "PG-13">PG-13</option>
        <option value = "R">R</option>
        <option value = "NC-17">NC-17</option>
      </select> <br>
      Budget: <br>
      <input type="text" name="Genre"><br>
      <input type="submit" value="Submit">
   </form>

</body>
</html>
